.body{
    background-color: rgb(0, 0, 0);
   
}
.escrita{
    font-size: 34px;
    font-family: "Poppins", serif;
    font-weight: 900;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Centraliza os títulos horizontalmente */
}

.container a {
    margin: 10px;
    text-align: center;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: all 0.3s ease-in-out; /* Transição suave */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; /* Cor inicial do texto e da borda */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    padding: 10px;
    font-family: "Poppins", serif;
}
.container a:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0); /* Cor dos títulos ao passar o mouse */
    border-color: red;
    background-color: rgb(255, 0, 0); /* Adiciona um fundo vermelho ao passar o mouse */
}
.container a img {
    width: 150px; /* Ajuste o valor para o tamanho desejado */
    height: 150px;
    object-fit: cover; /* Mantém a proporção da imagem e preenche todo o espaço */
}

.container a p {
    margin: 5px 0; /* Adiciona um espaçamento entre os parágrafos */
    color: rgb(0, 0, 0); /* Cor inicial dos títulos */
    transition: color 0.3s ease-in-out;
    font-family: "Poppins", serif;
}

h1 {
    text-align: center;
    font-size: 48px; /* Aumenta o tamanho da fonte */
    margin-top: 50px; /* Aumenta o espaço superior */
    margin-bottom: 30px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}



